/* This is the main CSS apge for the file. Current this is for desktop only.
The file does use flexbox for positioning, but the rest is plain CSS. */
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(164, 238, 255, .5);
  }

  #container{
      position: absolute;
      overflow: hidden;
      width: 100%;
  }

  #mainContent {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  #sky {
    width: 100%;
    margin: 0% 0% 0% 0%;
    padding-top: 5%;
    padding-bottom: 2%;
    -ms-align-items: flex-start;
    align-self: flex-start;
    overflow: auto;
    align-self: center;
    display: flex;
    flex-flow: column;
  }

  #gameBoard {
    align-self: center;
    margin: 0;
    z-index: 5;
  }

  td {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    font-size: 5em;
    margin: 0px;
  }

  table {
    border: 2px solid black;
    border-collapse:collapse;
    margin: auto;
  }

  h1 {
    align-self: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    padding-bottom: 2%;
  }

  button#reset {
    align-self: center;
    margin-top: 2%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1em;
    background: rgba(255,255,255,.5);
    border-style: none;
    z-index: 5;
   text-decoration: none;
  }

  button#reset:hover {
    background-color: red;
    color: white;
  }

  button#reset:focus {
    outline: none;
  }

  #ground {
    background-color: rgb(0, 124, 52);
    width: 100%;
    height: 5000px;
    margin: 0% -5%;
    align-self: flex-end;
    align-self: center;
    overflow: hidden;
    overflow: auto;
  }

  #ground p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: .5em;
    padding-left: 2%;
    margin-top: 8%;
  }

  .foot {
    height: 75px;
    padding-top: 12px;
    padding-left: 32px;
    align-self: center;
  }

  .bear {
    height: 75px;
    padding-top: 12px;
    padding-left: 18px;
    align-self: center;
  }

  #groundElemets {
    z-index: 2;
    margin-top: -10%;
    margin-bottom: -10%;
    margin-left: -25%;
    padding: 0px;
    align-self: center;
    display: flex;
    flex-direction: row;

  }

  #tent {
    align-self: flex-start;
    justify-content: flex-end;
    margin-left: 54%;
    z-index: 1;
    width: 30%;
  }

  #trees {
    z-index: 1;
  }

  #tree1 {
    margin-left: 2%;
    padding: 0px;
    width: 25%;
    z-index: 2;
  }

  #tree2 {
    margin-left: 5%;
    width: 10%;
    z-index: 2;
  }
  #tree3 {
    margin-left: 8%;
    width: 15%;
    z-index: 2;
  }

  #tent{
    margin-left: 75%;
  }

  #groundElemets {
    margin-bottom: -5%;
  }

@media (min-width: 2501px) and (max-width: 3000px) {
  #sky {
    margin-top: 5%;
    margin-bottom: 20%;
    padding: 0px;
  }

  #tent{
    width: 100%;
    margin-left: 115%;
    padding-bottom: 23%;
    width: 50%;
  }

  #tree1 {
    margin-left: -10%;
    margin-top: -30%;
    padding: 0px;
    width: 50%;
    z-index: 2;
  }

  #tree2 {
    margin-left: 6%;
    margin-top: -30%;
    width: 50%;
    z-index: 2;
  }

  #tree3 {
    margin-left: 8%;
    margin-top: -30%;
    width: 50%;
    z-index: 2;
  }

  td {
    width: 250px;
    height: 250px;
  }

  .foot {
    height: 150px;
    margin-top: 35px;
    margin-left: 40px;
    margin-bottom: 0px;
    align-self: center;
  }

  .bear {
    height: 150px;
    margin-top: 35px;
    margin-left: 40px;
    margin-bottom: 0px;
    align-self: center;
  }

  #groundElemets {
    margin-top: -25%;
  }

  #ground {
    margin-top: -11%;
  }
}

@media (min-width: 3001px) and (max-width: 4000px) {
  td {
    width: 300px;
    height: 300px;
  }

  .foot {
    height: 250px;
    padding-left: 81px;
  }

  .bear {
    height: 250px;
  }

  #groundElemets {
    margin-top: -14%;
  }

  #tent{
    width: 100%;
    margin-left: 130%;
  }

  #tree1 {
    margin-left: -10%;
    margin-top: 25%;
  }

  #tree2 {
    margin-left: 6%;
    margin-top:  25%;
  }

  #tree3 {
    margin-left: 8%;
    margin-top: 25%;
  }

}

@media (min-width: 4001px) and (max-width: 5000px) {
  td {
    width: 320px;
    height: 320px;
  }

  .foot {
    height: 275px;
    padding-left: 81px;
  }

  .bear {
    height: 275px;
  }

  #groundElemets {
    padding-bottom: -10%;
  }

  #tent{
    width: 100%;
    margin-left: 160%;
  }

  #tree1 {
    margin-left: -25%;
    margin-top: 166px;
  }

  #tree2 {
    margin-left: 6%;
    margin-top:  166px;
  }

  #tree3 {
    margin-left: 8%;
    margin-top: 166px;
  }

}

@media (min-width: 5001px) {

  td {
    width: 320px;
    height: 320px;
  }

  .foot {
    height: 275px;
    padding-left: 81px;
  }

  .bear {
    height: 275px;
  }

  #groundElemets {
    margin-top: -11%;
  }

  #tent{
    width: 100%;
    margin-top: 60%;
    margin-left: 125%
  }

  #tree1 {
    margin-left: 0%;
    margin-top: 60%;
  }

  #tree2 {
    margin-left: 6%;
    margin-top: 60%;
  }

  #tree3 {
    margin-left: 8%;
    margin-top: 60%;
  }
}
